<br />
<div class="fc-content">
    <h2><strong>FELICITACIONES !! Acabas de cumplir con éxito tu Desafío de Redes</strong></h2>
    <hr />    
    <h5 class="text-success"><strong>Tomaste las decisiones correctas y has podido resolver un problema real de la mejor manera !!</strong></h5>
    <br />
    <div class="finishBackground col-sm-12 text-center">
        <div class="col-sm-4">            
        </div>
    </div>
</div>