@model TP3.Core.Data.User.UserEditData
<!--begin::Portlet-->
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Cambiar contraseña
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form class="kt-form" method="post">
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group password" >
                        <label asp-for="Password" class="col-md-12 control-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="Contraseña">
                        <span asp-validation-for="Password" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group password" >
                        <label asp-for="RepeatPassword" class="col-md-12 control-label"></label>
                        <input asp-for="RepeatPassword" class="form-control" placeholder="Contraseña">
                        <span asp-validation-for="RepeatPassword" class="invalid-feedback"></span>
                    </div>
                </div>
            </div>


        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <button type="submit" class="btn btn-success">Aceptar</button>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>
<!--end::Portlet-->
