<br />
<h2><strong>Ayuda</strong></h2>
<p>Edu-Net es un aplicación que mediante <strong>desafíos</strong> ayuda a estudiantes y docentes a mejorar su experiencia de aprendizaje-enseñanza
en lo que refiere a la Materia Redes del ciclo secundario.</p>