<br />
<div class="fc-content">
    <h2><strong>Acerca de Edu-Net</strong></h2>
    <hr />
    <p>
        Edu-Net es un aplicación que mediante <strong>desafíos</strong> ayuda a estudiantes y docentes a mejorar su experiencia de aprendizaje-enseñanza
        en lo que refiere a la Materia Redes del ciclo secundario.
    </p>
    <p>
        De un modo lúdico y dinámico el alumno deberá resolver los retos, tomando un rol protagonista, sus decisiones serán las que determinen el éxito de la prueba,
        y permitirán acercarlo a situaciones reales.
    </p>
    <br />
    <h4 class="text-success">¿ Cómo se hacen los desafíos ?</h4>
    <p>
        Un profesor configura los diferentes desafíos y los comparte con sus alumnos, brindando un código para la realización.
        Los alumnos, en cualquier momento, podrán ingresar a la plataforma web y mediante el código, podrán realizar el desafío.
    </p>
    <p>Los retos son situaciones simuladas en donde el alumno deberá utilizar su razonamiento y conocimientos de la materia para resolverlos.</p>
    <br />
    <h4 class="text-success">¿ Cómo el alumno aprende jugando ?</h4>
    <p>
        La idea es que los retos representen situaciones que se pueden dar en la realidad, y de ése modo el alumno deberá razonar y tomar decisiones, éste mecanismo,
        es mucho más ameno y mediante situaciones de experimentación (prueba/error), se va construyendo el conocimiento de la persona.
    </p>
    <br />
    <h4 class="text-success">¿ Cómo ayuda al profesor la aplicación ?</h4>
    <p>
        Esta herramienta permite a profesores, generar ilimitadas situaciones en dónde el alumno al resolverlas, dará feedback al profesor del grado de conocimientos
        que han adquiridos en el cursado de la Materia, la virtualidad, permite de un modo económico, poner a disposición de una herramienta para la retroalimentación y mejora
        contínua de contenidos y métodos de experimentación.
    </p>
    <hr />
    <br />
    <p>Este software se desarrolló como Trabajo integrador, y entrega final de la materia <strong>Tecnología Educativa (UTN - FRC - Ing. en Sistemas)</strong>, año académico 2020, autores:</p>
    <ul>
        <li>Carvajal, Lorena</li>
        <li>Liuzzi, Sergio Javier</li>
        <li>Traversaro, Juan Pablo</li>
    </ul>
</div>