@model TP3.Core.Data.Account.LoginData
<head>    
</head>
<br />
<div class="fc-content">
    <h2><strong>Nuevo Desafío de Redes</strong></h2>
    <hr />
</div>
@section Scripts
{    
    <script>
        $(document).ready(function () {
            
        })
    </script>
}