<head>    
</head>
<br />
<div class="fc-content">
    <h2><strong>Desafíos de Redes</strong></h2>
    <hr />
    <div class="kt-container kt-container--fluid">
        <div class="col-sm-12 text-right">
            <button class="btn btn-brand btn-pill col-sm-1" title="Agregar un nuevo Desafío">Agregar</button>
        </div>
        <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Tipo de Red</th>
                        <th>Tipo de Conexión</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script>       
    </script>
}